<a href="https://colab.research.google.com/github/saraisab/machineLearning/blob/main/spark_primerosPasos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CREAR SESION DE SPARK

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

SpSession = SparkSession.builder.appName('Demo Spark').getOrCreate()

In [3]:
SpContext = SpSession.sparkContext

## Carga de datos

In [4]:
data = SpSession.read.csv('cars.csv', header=True, sep=';')
data.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

## Conociendo la data

In [5]:
# para conocer los datos
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [6]:
# para los nombres de las columnas
data.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [7]:
# columna y tipo de datos
data.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

## Selecci√≥n de columnas

In [8]:
# metodo 1
data.select(data.Car).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [9]:
data.select(data.Car).show(truncate=True)

+--------------------+
|                 Car|
+--------------------+
|              STRING|
|Chevrolet Chevell...|
|   Buick Skylark 320|
|  Plymouth Satellite|
|       AMC Rebel SST|
|         Ford Torino|
|    Ford Galaxie 500|
|    Chevrolet Impala|
|   Plymouth Fury iii|
|    Pontiac Catalina|
|  AMC Ambassador DPL|
|Citroen DS-21 Pallas|
|Chevrolet Chevell...|
|    Ford Torino (sw)|
|Plymouth Satellit...|
|  AMC Rebel SST (sw)|
| Dodge Challenger SE|
|  Plymouth 'Cuda 340|
|Ford Mustang Boss...|
|Chevrolet Monte C...|
+--------------------+
only showing top 20 rows

In [11]:
# metodo 2
data.select(data['Car']).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [13]:
# metodo 3
from pyspark.sql.functions import col
data.select(col('car')).show(truncate=False)

+--------------------------------+
|car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

### Selecci√≥n m√∫ltiple de columnas

In [14]:
data.select(data.Car, data.Cylinders).show(truncate=False)

+--------------------------------+---------+
|Car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [15]:
data.select(data['car'], data.Cylinders).show(truncate=False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [16]:
# metodo 2
data.select(data['car'], data['Cylinders']).show(truncate=False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [17]:
# metodo 3
data.select(col('car'), col('Cylinders')).show(truncate=False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

## Agregar nuevas columnas

In [19]:
from os import truncate
# caso 1
from pyspark.sql.functions import lit
df = data.withColumn('First_Column', lit(1))
df.show(5, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|First_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |1           |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |1           |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [20]:
# Caso 2
df = data.withColumn('Second_Column', lit(2)) \
    .withColumn('Third_Column', lit('Third Column'))
df.show(5, truncate=False)
#

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |2            |Third Column|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |2            |Third Column|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |2            |Third Column|
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |2            |Third Column|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |2            |Third Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 5 rows

## Agrupaci√≥n por columnas

In [21]:
df.groupBy('Origin').count().show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
|   CAT|    1|
| Japan|   79|
+------+-----+

In [22]:
df.groupBy('Horsepower').count().show()

+----------+-----+
|Horsepower|count|
+----------+-----+
|     102.0|    1|
|     68.00|    6|
|     116.0|    1|
|     145.0|    7|
|     90.00|   20|
|     87.00|    2|
|     170.0|    5|
|     75.00|   14|
|     132.0|    1|
|     84.00|    6|
|     88.00|   19|
|     200.0|    1|
|     152.0|    1|
|         0|    6|
|     120.0|    4|
|     80.00|    7|
|     108.0|    1|
|     58.00|    2|
|     210.0|    1|
|     96.00|    3|
+----------+-----+
only showing top 20 rows

In [23]:
# multiples columnas
df.groupBy('Origin', 'Horsepower').count().show()

+------+----------+-----+
|Origin|Horsepower|count|
+------+----------+-----+
|Europe|     46.00|    2|
| Japan|     67.00|    8|
|    US|     198.0|    2|
|    US|     75.00|    3|
|    US|     60.00|    1|
| Japan|     97.00|    7|
|    US|     130.0|    5|
| Japan|     70.00|    4|
| Japan|     75.00|    8|
| Japan|     90.00|    2|
|    US|     63.00|    3|
| Japan|     94.00|    1|
|    US|     81.00|    1|
|    US|     98.00|    1|
|    US|     80.00|    6|
|    US|     160.0|    2|
| Japan|     100.0|    2|
|Europe|     112.0|    2|
|    US|     220.0|    1|
|    US|     52.00|    1|
+------+----------+-----+
only showing top 20 rows

In [24]:
df.groupBy('Origin', 'Model').count().show()

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
| Japan|   76|    4|
|    US|   81|   13|
|    US|   80|    7|
|    US|   76|   22|
| Japan|   70|    2|
|    US|   78|   22|
|Europe|   76|    8|
|    US|   70|   27|
| Japan|   75|    4|
|Europe|   80|    9|
| Japan|   77|    6|
|Europe|   72|    5|
|    US|   75|   20|
|    US|   79|   23|
|    US|   82|   20|
|   CAT|  INT|    1|
|Europe|   75|    6|
| Japan|   78|    8|
|    US|   71|   20|
| Japan|   82|    9|
+------+-----+-----+
only showing top 20 rows

## Eliminar columnas

In [25]:
df = df.drop('First_Column', "Second_Column")
df.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Third_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|Third Column|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|Third Column|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|Third Column|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|Third Column|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|Third Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

## Ordenar filas