#EXERCISES

#CODEWARS
##Range extraction
A format for expressing an ordered list of integers is to use a comma separated list of either

*individual integers*

*or a range of integers denoted by the starting integer separated from the end integer in the range by a dash, '-'. The range includes all integers in the interval including both endpoints. It is not considered a range unless it spans at least 3 numbers. For example "12,13,15-17"*

Complete the solution so that it takes a list of integers in increasing order and returns a correctly formatted string in the range format.

Example:

solution([-10, -9, -8, -6, -3, -2, -1, 0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 14, 15, 17, 18, 19, 20])

`returns "-10--8,-6,-3-1,3-5,7-11,14,15,17-20"`

In [ ]:
def solution(args):
  args.sort()
  cadena = str(args[0])
  for i in range(len(args)):
    if args[i] == (args[i + 1] - 1) and args[i+1] == (args[i + 2] - 1):
      print(args[i])
      '''
       if (i + 3) < len(args):

      if args[i] == (args[i + 1] - 1) and args[i+1] == (args[i + 2] - 1):
        print(args[i])

        if (args[i + 2] - 1) !=  (args[i + 3] - 2):
          cadena = cadena + str(args[i]) + "-" + str(args[i + 2] - 1)
      else:
        cadena = cadena + ',' +str(args[i])
'''
  return cadena
print(solution([-10, -9, -8, -6, -3, -2, -1, 0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 14, 15, 17, 18, 19, 20]))

-10
-3
-2
-1
3
7
8
9
17
18

IndexError: list index out of range

In [35]:
def solution(args):
    #lista = args.split(',')
    new_str = ''

    for x in range(1,len(args) - 1):
        print(f'args[x] es {args[x]} {(args[x + 1] - 1)}(args[x + 1] - 1) es {(args[x + 1] - 1)}  and args[x-1] es {args[x-1]}  (args[x]-1) es {(args[x]-1)}')
        if args[x] == (args[x + 1] - 1) and args[x-1] == (args[x]-1):
            new_str = f'{new_str}-'
        else:
            new_str = f'{new_str}{args[x]},'
        print(new_str)
    return f'{args[0]}{new_str}{args[len(args)-1]}'

print(solution([-10, -9, -8, -6, -3, -2, -1, 0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 14, 15, 17, 18, 19, 20]))
# returns "-10--8,-6,-3-1,3-5,7-11,14,15,17-20"

args[x] es -9 -9(args[x + 1] - 1) es -9  and args[x-1] es -10  (args[x]-1) es -10
-
args[x] es -8 -7(args[x + 1] - 1) es -7  and args[x-1] es -9  (args[x]-1) es -9
--8,
args[x] es -6 -4(args[x + 1] - 1) es -4  and args[x-1] es -8  (args[x]-1) es -7
--8,-6,
args[x] es -3 -3(args[x + 1] - 1) es -3  and args[x-1] es -6  (args[x]-1) es -4
--8,-6,-3,
args[x] es -2 -2(args[x + 1] - 1) es -2  and args[x-1] es -3  (args[x]-1) es -3
--8,-6,-3,-
args[x] es -1 -1(args[x + 1] - 1) es -1  and args[x-1] es -2  (args[x]-1) es -2
--8,-6,-3,--
args[x] es 0 0(args[x + 1] - 1) es 0  and args[x-1] es -1  (args[x]-1) es -1
--8,-6,-3,---
args[x] es 1 2(args[x + 1] - 1) es 2  and args[x-1] es 0  (args[x]-1) es 0
--8,-6,-3,---1,
args[x] es 3 3(args[x + 1] - 1) es 3  and args[x-1] es 1  (args[x]-1) es 2
--8,-6,-3,---1,3,
args[x] es 4 4(args[x + 1] - 1) es 4  and args[x-1] es 3  (args[x]-1) es 3
--8,-6,-3,---1,3,-
args[x] es 5 6(args[x + 1] - 1) es 6  and args[x-1] es 4  (args[x]-1) es 4
--8,-6,-3,---1,3,-5,
args[x] es 7 7(args[x + 1] - 1) es 7  and args[x-1] es 5  (args[x]-1) es 6
--8,-6,-3,---1,3,-5,7,
args[x] es 8 8(args[x + 1] - 1) es 8  and args[x-1] es 7  (args[x]-1) es 7
--8,-6,-3,---1,3,-5,7,-
args[x] es 9 9(args[x + 1] - 1) es 9  and args[x-1] es 8  (args[x]-1) es 8
--8,-6,-3,---1,3,-5,7,--
args[x] es 10 10(args[x + 1] - 1) es 10  and args[x-1] es 9  (args[x]-1) es 9
--8,-6,-3,---1,3,-5,7,---
args[x] es 11 13(args[x + 1] - 1) es 13  and args[x-1] es 10  (args[x]-1) es 10
--8,-6,-3,---1,3,-5,7,---11,
args[x] es 14 14(args[x + 1] - 1) es 14  and args[x-1] es 11  (args[x]-1) es 13
--8,-6,-3,---1,3,-5,7,---11,14,
args[x] es 15 16(args[x + 1] - 1) es 16  and args[x-1] es 14  (args[x]-1) es 14
--8,-6,-3,---1,3,-5,7,---11,14,15,
args[x] es 17 17(args[x + 1] - 1) es 17  and args[x-1] es 15  (args[x]-1) es 16
--8,-6,-3,---1,3,-5,7,---11,14,15,17,
args[x] es 18 18(args[x + 1] - 1) es 18  and args[x-1] es 17  (args[x]-1) es 17
--8,-6,-3,---1,3,-5,7,---11,14,15,17,-
args[x] es 19 19(args[x + 1] - 1) es 19  and args[x-1] es 18  (args[x]-1) es 18
--8,-6,-3,---1,3,-5,7,---11,14,15,17,--
-10--8,-6,-3,---1,3,-5,7,---11,14,15,17,--20

#PRACTISING MAP

Dada la lista de números nums = [1, 2, 3, 4, 5], usa map para crear una nueva lista llamada squares que contenga los cuadrados de cada número de la lista.

Salida esperada:

[1, 4, 9, 16, 25]

In [ ]:
nums = [1, 2, 3, 4, 5]

squares_numbers = map(lambda x: x ** 2, nums)
print(list(squares_numbers))

[1, 4, 9, 16, 25]

sumar dos listas con map

In [ ]:
nums1 = [1, 2, 3, 4]
nums2 = [10, 20, 30, 40]
sum_list = list(map(lambda x, y: x + y, nums1, nums2))
print(sum_list)

[11, 22, 33, 44]

Ejercicio 2:

Dada la lista de strings words = ["hello", "world", "python", "map"], usa map para convertir cada palabra en mayúsculas.

Salida esperada:

["HELLO", "WORLD", "PYTHON", "MAP"]

In [ ]:
words = ["hello", "world", "python", "map"]
upper_words = list(map(lambda x: x.upper(), words))
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

Ejercicio 4:

Dada la lista de números nums = [1, -2, 3, -4, 5], usa map para convertir todos los números negativos en positivos.

Salida esperada:

[1, 2, 3, 4, 5]

In [ ]:
nums = [1, -2, 3, -4, 5]
positive = list(map(lambda x: x*-1 if x < 0 else x, nums))
print(positive)

[1, 2, 3, 4, 5]

Ejercicio 5:

Dada la lista de strings dates = ["2024-01-01", "2024-12-31", "2024-06-15"], usa map para convertir cada fecha al formato "DD/MM/YYYY".

Salida esperada:

["01/01/2024", "31/12/2024", "15/06/2024"]

In [ ]:
from datetime import datetime

dates = ["2024-01-01", "2024-12-31", "2024-06-15"]
dates_reverse = list(map(lambda x: (datetime.strptime(x, '%Y-%m-%d')).strftime('%d/%m/%Y'), dates))
print(dates_reverse)

['01/01/2024', '31/12/2024', '15/06/2024']

Ejercicio 1: Capitalizar palabras clave

Tienes una lista de strings que representan nombres de artículos. Transforma cada string para que solo la primera letra de cada palabra esté en mayúscula y las demás en minúscula.

articles = ["python programming", "advanced DATA analysis", "MaChiNe LEARNing"]

Usa map para convertir los artículos
 Salida esperada:
['Python Programming', 'Advanced Data Analysis', 'Machine Learning']

In [ ]:
articles = ["python programming", "advanced DATA analysis", "MaChiNe LEARNing"]
print(list(map(lambda x: x.title(), articles)))

['Python Programming', 'Advanced Data Analysis', 'Machine Learning']

Ejercicio 2: Calcular longitudes y clasificar

Dada una lista de strings, calcula la longitud de cada string y devuelve una lista de tuplas en el formato (string, longitud).

`strings = ["Python", "Map Function", "Lambda", "Complex Exercise"]`

 `Usa map para generar las tuplas`
 `Salida esperada:`
 `[('Python', 6), ('Map Function', 12), ('Lambda', 6), ('Complex Exercise', 16)]`

In [ ]:
strings = ["Python", "Map Function", "Lambda", "Complex Exercise"]

def calculate_lengh(string_simple):
  return string_simple, len(string_simple)
str_lengh = list(map(calculate_lengh, strings))
print(str_lengh)

[('Python', 6), ('Map Function', 12), ('Lambda', 6), ('Complex Exercise', 16)]

In [ ]:
strings = ["Python", "Map Function", "Lambda", "Complex Exercise"]

print(list(map(lambda x: (x, len(x)), strings)))

[('Python', 6), ('Map Function', 12), ('Lambda', 6), ('Complex Exercise', 16)]

Ejercicio 3: Conversión de temperaturas

Tienes una lista de temperaturas en grados Fahrenheit. Convierte cada temperatura a grados Celsius usando la fórmula:
C=5/9(F−32)


fahrenheit = [32, 68, 104, 212]

Usa map para convertir a Celsius

Salida esperada:

[0.0, 20.0, 40.0, 100.0]

In [ ]:
fahrenheit = [32, 68, 104, 212]

print(list(map(lambda x: ((x-32)*5)/9, fahrenheit)))

[0.0, 20.0, 40.0, 100.0]

Ejercicio 4: Filtrar números pares e invertirlos

Dada una lista de números, usa map junto con una función lambda para filtrar solo los números pares y devolver una lista de los números pares en orden inverso.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Usa map para realizar esta transformación

 Salida esperada:

 [10, 8, 6, 4, 2]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(map(lambda x: x if x % 2 == 0 else None, numbers))
print([x for x in even_numbers if x is not None][::-1])

[10, 8, 6, 4, 2]

In [ ]:
#sin map
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print([x for x in numbers if x % 2 == 0][::-1])

[10, 8, 6, 4, 2]

Ejercicio 5: Reformatear datos complejos

Tienes una lista de tuplas con datos de personas: (nombre, edad, ciudad). Transforma la lista en una lista de strings en el formato:
"Nombre: <nombre>, Edad: <edad>, Ciudad: <ciudad>".

people = [

    ("Alice", 30, "New York"),

    ("Bob", 25, "Los Angeles"),

    ("Charlie", 35, "Chicago")
    
]

Usa map para formatear la salida
Salida esperada:

[

"Nombre: Alice, Edad: 30, Ciudad: New York",

 "Nombre: Bob, Edad: 25, Ciudad: Los Angeles",

 "Nombre: Charlie, Edad: 35, Ciudad: Chicago"

 ]

In [ ]:
people = [
("Alice", 30, "New York"),
("Bob", 25, "Los Angeles"),
("Charlie", 35, "Chicago")
]

list_people = list(map(lambda x: f"Nombre:{x[0]}, Edad: {str(x[1])}, Ciudad: {x[2]}", people))
print(list_people)

['Nombre:Alice, Edad: 30, Ciudad: New York', 'Nombre:Bob, Edad: 25, Ciudad: Los Angeles', 'Nombre:Charlie, Edad: 35, Ciudad: Chicago']

Ejercicio 6: Procesar cadenas numéricas

Tienes una lista de strings que contienen números separados por comas. Convierte cada string en la suma de esos números.

data = ["1,2,3", "4,5,6", "7,8,9"]

Usa map para procesar los datos
Salida esperada:
[6, 15, 24]

In [19]:
data = ["1,2,3", "4,5,6", "7,8,9"]

def suma(cadena):
  return sum(int(x) for x in cadena.split(','))
print(list(map(suma, data)))

[6, 15, 24]

Solucion con lambda

In [21]:
data = ["1,2,3", "4,5,6", "7,8,9"]

def suma(cadena):
  return sum(int(x) for x in cadena.split(','))
print(list(map(lambda s: sum(int(x) for x in s.split(',')), data)))

[6, 15, 24]

Ejercicio 7: Validar correos electrónicos

Tienes una lista de correos electrónicos. Usa map para verificar si cada correo electrónico es válido (contiene un @ y un ., y no tiene espacios).

emails = ["user@example.com", "invalid_email.com", "another@domain", "valid@mail.com"]

` Usa map para devolver True o False para cada correo`

 `Salida esperada:`

`[True, False, False, True]`

In [33]:

emails = ["user@example.com", "invalid_email.com", "another@domain", "valid@mail.com"]

print(list(map(lambda em: em.find('@') != -1 and em.find(' ') == -1 and em.find('.') != -1, emails)))

[True, False, False, True]

Resultado con all

In [34]:
emails = ["user@example.com", "invalid_email.com", "another@domain", "valid@mail.com"]

print(list(map(lambda x: all([
                              "@" in x,
                              '.' in x,
                              ' ' not in x
                                  ]), emails)))

[True, False, False, True]

Ejercicio 8: Elevar matrices al cuadrado

Tienes una lista de listas que representan filas de una matriz. Eleva cada número al cuadrado, devolviendo la matriz transformada.


matrix = [

    [1, 2, 3],

    [4, 5, 6],

    [7, 8, 9]

]

 Usa map para transformar la matriz

 Salida esperada:

 [

  [1, 4, 9],

  [16, 25, 36],

  [49, 64, 81]

 ]

In [42]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(list(map(lambda ma: [j ** 2 for j in ma], matrix)))

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]
[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

#Codewars
## kata 5 - Weight for weight

My friend John and I are members of the "Fat to Fit Club (FFC)". John is worried because each month a list with the weights of members is published and each month he is the last on the list which means he is the heaviest.

I am the one who establishes the list so I told him: "Don't worry any more, I will modify the order of the list". It was decided to attribute a "weight" to numbers. The weight of a number will be from now on the sum of its digits.

For example 99 will have "weight" 18, 100 will have "weight" 1 so in the list 100 will come before 99.

Given a string with the weights of FFC members in normal order can you give this string ordered by "weights" of these numbers?
Example:

"56 65 74 100 99 68 86 180 90" ordered by numbers weights becomes:

"100 180 90 56 65 74 68 86 99"

When two numbers have the same "weight", let us class them as if they were strings (alphabetical ordering) and not numbers:

180 is before 90 since, having the same "weight" (9), it comes before as a string.

All numbers in the list are positive numbers and the list can be empty.
Notes

    it may happen that the input string have leading, trailing whitespaces and more than a unique whitespace between two consecutive numbers
    For C: The result is freed.

In [118]:
def sum_str(str_list):
  lst = []
  for x in str_list:
    lst.append(sum(int(x[i]) for i in range(len(x))))
  return lst

def order_weight(strng):
  lst_ordered, strng_ordered = zip(*sorted(zip(sum_str(strng.split(' ')), strng.split(' '))))
  return " ".join(strng_ordered)

order_weight("56 65 74 100 99 68 86 180 90")
# result "100 180 90 56 65 74 68 86 99"

'100 180 90 56 65 74 68 86 99'

In [125]:
def sum_str(str_list):
  lst = []
  for x in str_list:
    lst.append(sum(int(x[i]) for i in range(len(x))))
  return lst

def order_weight(strng):
  strng_ordered = sorted(strng.split(" "))
  print(strng_ordered)
  strng = sum_str(strng_ordered)
  return " ".join(str(strng))

order_weight("56 65 74 100 99 68 86 180 90")
# result "100 180 90 56 65 74 68 86 99"

['100', '180', '56', '65', '68', '74', '86', '90', '99']

'[ 1 ,   9 ,   1 1 ,   1 1 ,   1 4 ,   1 1 ,   1 4 ,   9 ,   1 8 ]'

In [121]:
cadena = "56 65 74 100 99 68 86 180 90"
lst = sorted(cadena.split(" "))
print(lst)

['100', '180', '56', '65', '68', '74', '86', '90', '99']

##kata 4kyu
Escribe una función que, dado un texto en forma de cadena (posiblemente con puntuación y saltos de línea), devuelva un array con las 3 palabras más frecuentes, en orden descendente según el número de apariciones.

Suposiciones:

    Una palabra es una cadena de letras (de la A a la Z) que puede contener uno o más apóstrofes (') en ASCII.

    Los apóstrofes pueden aparecer al inicio, en el medio o al final de una palabra ('abc, abc', 'abc', ab'c son todas válidas).

    Cualquier otro carácter (por ejemplo, #, , / , . ...) no forma parte de una palabra y debe tratarse como un espacio en blanco.
    Las coincidencias no deben distinguir entre mayúsculas y minúsculas, y las palabras en el resultado deben estar en minúsculas.

    Los empates pueden resolverse de forma arbitraria.
    
    Si un texto contiene menos de tres palabras únicas, entonces se debe devolver las dos palabras principales, una palabra principal o un array vacío si el texto no contiene palabras.

In [21]:
import string
def is_string_ascii(word):
  for letter in word:
    if letter.isalpha():
      return True

def top_3_words(text):
  punct = (string.punctuation).replace("'", "")
  new_string = ""
  lst = "".join(f'{new_string}{" " if x in punct else x}' for x in text.lower()).split(' ')
  counts = dict(zip(lst,map(lambda x:lst.count(x), lst)))
  sorted_by_words = dict(sorted(counts.items(), key=lambda item: item[1], reverse=True))
  # replacement of ""
  sorted_by_words = {k: v for k, v in sorted_by_words.items() if is_string_ascii(k)}
  return list(sorted_by_words.keys())[:3]

text = '''In a village of La Mancha, the name of which I have no desire to call to
mind, there lived not long since one of those gentlemen that keep a lance
in the lance-rack, an old buckler, a lean hack, and a greyhound for
coursing. An olla of rather more beef than mutton, a salad on most
nights, scraps on Saturdays, lentils on Fridays, and a pigeon or so extra
on Sundays, made away with three-quarters of his income.'''
top_3_words(text)

['a', 'of', 'on']

In [22]:
text = '''TCqpbFd ;,/nuW :/?ieWX'';;._ ieWX''- ieWX'';, /nuW!,: nuW _!TCqpbFd-?/ieWX'';;;ieWX'':;_/
TCqpbFd;_ieWX''_slBtoUJKm:nuW,::-;nuW_,,ieWX'' LFyqbNBE :/.LFyqbNBE!.!LFyqbNBE//;-ieWX''/ :-LFyqbNBE  -
TCqpbFd/,?,-nuW.,.TCqpbFd!-:etmYH- !-/ieWX''_etmYH .;,_etmYH/TCqpbFd?:.TCqpbFd slBtoUJKm.TCqpbFd . ieWX''_
uW?nuW:TCqpbFd  !TCqpbFd!slBtoUJKm:-ieWX''?LFyqbNBE?:TCqpbFd:slBtoUJKm,/ieWX''!_ ;;slBtoUJKm:-/TCqpbFd:?
;nuW//nuW!slBtoUJKm;/--LFyqbNBE?TCqpbFd.:  TCqpbFd.,/eVZjEOeJSn,!.-ieWX'':/,-LFyqbNBE /:.TCqpbFd.-,!?ieWX'' _//.
TCqpbFd/,/nuW!.?nuW!,/eVZjEOeJSn!_. TCqpbFd,,-:?nuW/;:.ieWX''.,;!slBtoUJKm/etmYH?: _;ieWX''/;nuW/-TCqpbFd,!LFyqbNBE,!??ieWX''
;;nuW_?-;nuW -;:TCqpbFd:_ ,?ieWX'';ieWX'' .?!nuW:LFyqbNBE_/_ieWX'',nuW.?LFyqbNBE/_,:TCqpbFd:_;slBtoUJKm-_ieWX''/ieWX''_!!
LFyqbNBE;ieWX'' /ieWX''!'''
top_3_words(text)

["iewx''", 'tcqpbfd', 'nuw']

In [20]:
import string
def is_string_ascii(word):
  for letter in word:
    if letter.isalpha():
      return True

is_string_ascii('letra:')

True

Crear un algoritmo que se muestre así:

1

23

456

In [45]:
def print_numbers(string_show):
  # inicializo los valores
  i = 0
  j = 1
  cont = 2

  while i < len(string_show):
    print(string_show[i:j])
    i = j
    j = j + cont
    cont += 1

max_range = 7 # max range numbers
numbers = ''.join(str(a) for a in range(1,max_range,1))
print_numbers(numbers)

1
23
456

In [47]:
cadena = 'abcdefghijklmnopqrstu'
print_numbers(cadena)

a
bc
def
ghij
klmno
pqrstu

#CODEWARS
##Convert A Hex String To RGB


Description:

When working with color values it can sometimes be useful to extract the individual red, green, and blue (RGB) component values for a color. Implement a function that meets these requirements:

    Accepts a case-insensitive hexadecimal color string as its parameter (ex. "#FF9933" or "#ff9933")
    Returns a Map<String, int> with the structure {r: 255, g: 153, b: 51} where r, g, and b range from 0 through 255

Note: your implementation does not need to support the shorthand form of hexadecimal notation (ie "#FFF")
Example

"#FF9933" --> {r: 255, g: 153, b: 51}

In [3]:
from PIL import ImageColor

def hex_string_to_RGB(hex_string):
  rd = {}
  rd['r'], rd['g'], rd['b'] = ImageColor.getcolor(hex_string, "RGB")
  return rd

hex_string_to_RGB("#FF9933")

{'r': 255, 'g': 153, 'b': 51}