<a href="https://colab.research.google.com/github/saraisab/machineLearning/blob/main/pyspark_primer_cuaderno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CREAR SESION DE SPARK

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

SpSession = SparkSession.builder.appName('Demo Spark').getOrCreate()

In [3]:
SpContext = SpSession.sparkContext

## Carga de datos

In [5]:
data = SpSession.read.csv('cars.csv', header=True, sep=';')
data.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

## Conociendo la data

In [5]:
# para conocer los datos
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [6]:
# para los nombres de las columnas
data.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [7]:
# columna y tipo de datos
data.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

## Selección de columnas

In [8]:
# metodo 1
data.select(data.Car).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [9]:
data.select(data.Car).show(truncate=True)

+--------------------+
|                 Car|
+--------------------+
|              STRING|
|Chevrolet Chevell...|
|   Buick Skylark 320|
|  Plymouth Satellite|
|       AMC Rebel SST|
|         Ford Torino|
|    Ford Galaxie 500|
|    Chevrolet Impala|
|   Plymouth Fury iii|
|    Pontiac Catalina|
|  AMC Ambassador DPL|
|Citroen DS-21 Pallas|
|Chevrolet Chevell...|
|    Ford Torino (sw)|
|Plymouth Satellit...|
|  AMC Rebel SST (sw)|
| Dodge Challenger SE|
|  Plymouth 'Cuda 340|
|Ford Mustang Boss...|
|Chevrolet Monte C...|
+--------------------+
only showing top 20 rows

In [11]:
# metodo 2
data.select(data['Car']).show(truncate=False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [19]:
# metodo 3
from pyspark.sql.functions import col
data.select(col('car')).show(truncate=False)

+--------------------------------+
|car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

### Selección múltiple de columnas

In [14]:
data.select(data.Car, data.Cylinders).show(truncate=False)

+--------------------------------+---------+
|Car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [15]:
data.select(data['car'], data.Cylinders).show(truncate=False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [16]:
# metodo 2
data.select(data['car'], data['Cylinders']).show(truncate=False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [17]:
# metodo 3
data.select(col('car'), col('Cylinders')).show(truncate=False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

## Agregar nuevas columnas

In [6]:
from os import truncate
# caso 1
from pyspark.sql.functions import lit
df = data.withColumn('First_Column', lit(1))
df.show(5, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|First_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |1           |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |1           |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [7]:
# Caso 2
df = data.withColumn('Second_Column', lit(2)) \
    .withColumn('Third_Column', lit('Third Column'))
df.show(5, truncate=False)
#

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |2            |Third Column|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |2            |Third Column|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |2            |Third Column|
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |2            |Third Column|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |2            |Third Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 5 rows

## Agrupación por columnas

In [21]:
df.groupBy('Origin').count().show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
|   CAT|    1|
| Japan|   79|
+------+-----+

In [22]:
df.groupBy('Horsepower').count().show()

+----------+-----+
|Horsepower|count|
+----------+-----+
|     102.0|    1|
|     68.00|    6|
|     116.0|    1|
|     145.0|    7|
|     90.00|   20|
|     87.00|    2|
|     170.0|    5|
|     75.00|   14|
|     132.0|    1|
|     84.00|    6|
|     88.00|   19|
|     200.0|    1|
|     152.0|    1|
|         0|    6|
|     120.0|    4|
|     80.00|    7|
|     108.0|    1|
|     58.00|    2|
|     210.0|    1|
|     96.00|    3|
+----------+-----+
only showing top 20 rows

In [23]:
# multiples columnas
df.groupBy('Origin', 'Horsepower').count().show()

+------+----------+-----+
|Origin|Horsepower|count|
+------+----------+-----+
|Europe|     46.00|    2|
| Japan|     67.00|    8|
|    US|     198.0|    2|
|    US|     75.00|    3|
|    US|     60.00|    1|
| Japan|     97.00|    7|
|    US|     130.0|    5|
| Japan|     70.00|    4|
| Japan|     75.00|    8|
| Japan|     90.00|    2|
|    US|     63.00|    3|
| Japan|     94.00|    1|
|    US|     81.00|    1|
|    US|     98.00|    1|
|    US|     80.00|    6|
|    US|     160.0|    2|
| Japan|     100.0|    2|
|Europe|     112.0|    2|
|    US|     220.0|    1|
|    US|     52.00|    1|
+------+----------+-----+
only showing top 20 rows

In [24]:
df.groupBy('Origin', 'Model').count().show()

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
| Japan|   76|    4|
|    US|   81|   13|
|    US|   80|    7|
|    US|   76|   22|
| Japan|   70|    2|
|    US|   78|   22|
|Europe|   76|    8|
|    US|   70|   27|
| Japan|   75|    4|
|Europe|   80|    9|
| Japan|   77|    6|
|Europe|   72|    5|
|    US|   75|   20|
|    US|   79|   23|
|    US|   82|   20|
|   CAT|  INT|    1|
|Europe|   75|    6|
| Japan|   78|    8|
|    US|   71|   20|
| Japan|   82|    9|
+------+-----+-----+
only showing top 20 rows

## Eliminar columnas

In [25]:
df = df.drop('First_Column', "Second_Column")
df.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Third_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|Third Column|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|Third Column|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|Third Column|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|Third Column|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|Third Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

## Ordenar filas

In [9]:
df.orderBy('Cylinders').show(truncate=False)

+---------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                        |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+---------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Mazda RX2 Coupe            |19.0|3        |70.00       |97.00     |2330. |13.5        |72   |Japan |2            |Third Column|
|Mazda RX3                  |18.0|3        |70.00       |90.00     |2124. |13.5        |73   |Japan |2            |Third Column|
|Mazda RX-4                 |21.5|3        |80.00       |110.0     |2720. |13.5        |77   |Japan |2            |Third Column|
|Mazda RX-7 GS              |23.7|3        |70.00       |100.0     |2420. |12.5        |80   |Japan |2            |Third Column|
|Ford Pinto Runabout        |21.0|4        |122.0       |86.00     |2226. |16.5        |72   |US    |2            |Third Column|
|Chevrolet Vega (sw)        |22.0|4        |140.0       |72.00     |2408. |19.0        |71   |US    |2            |Third Column|
|Toyota Corolla Mark ii     |24.0|4        |113.0       |95.00     |2372. |15.0        |70   |Japan |2            |Third Column|
|Mercury Capri 2000         |23.0|4        |122.0       |86.00     |2220. |14.0        |71   |US    |2            |Third Column|
|Datsun PL510               |27.0|4        |97.00       |88.00     |2130. |14.5        |70   |Japan |2            |Third Column|
|Opel 1900                  |28.0|4        |116.0       |90.00     |2123. |14.0        |71   |Europe|2            |Third Column|
|Peugeot 504                |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|2            |Third Column|
|Peugeot 304                |30.0|4        |79.00       |70.00     |2074. |19.5        |71   |Europe|2            |Third Column|
|Saab 99e                   |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|2            |Third Column|
|Fiat 124B                  |30.0|4        |88.00       |76.00     |2065. |14.5        |71   |Europe|2            |Third Column|
|Datsun PL510               |27.0|4        |97.00       |88.00     |2130. |14.5        |71   |Japan |2            |Third Column|
|Toyota Corolla 1200        |31.0|4        |71.00       |65.00     |1773. |19.0        |71   |Japan |2            |Third Column|
|Toyota Corolla             |25.0|4        |113.0       |95.00     |2228. |14.0        |71   |Japan |2            |Third Column|
|Datsun 1200                |35.0|4        |72.00       |69.00     |1613. |18.0        |71   |Japan |2            |Third Column|
|Volkswagen Super Beetle 117|0   |4        |97.00       |48.00     |1978. |20.0        |71   |Europe|2            |Third Column|
|Volkswagen Model 111       |27.0|4        |97.00       |60.00     |1834. |19.0        |71   |Europe|2            |Third Column|
+---------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 20 rows

In [10]:
df.orderBy('Cylinders', ascending=False).show(truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |2            |Third Column|
|Plymouth 'Cuda 340       |14.0  |8        |340.0       |160.0     |3609. |8.0         |70   |US    |2            |Third Column|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |2            |Third Column|
|Ford Mustang Boss 302    |0     |8        |302.0       |140.0     |3353. |8.0         |70   |US    |2            |Third Column|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |2            |Third Column|
|Chevrolet Monte Carlo    |15.0  |8        |400.0       |150.0     |3761. |9.5         |70   |US    |2            |Third Column|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |2            |Third Column|
|Buick Estate Wagon (sw)  |14.0  |8        |455.0       |225.0     |3086. |10.0        |70   |US    |2            |Third Column|
|Ford Galaxie 500         |15.0  |8        |429.0       |198.0     |4341. |10.0        |70   |US    |2            |Third Column|
|Ford F250                |10.0  |8        |360.0       |215.0     |4615. |14.0        |70   |US    |2            |Third Column|
|Plymouth Fury iii        |14.0  |8        |440.0       |215.0     |4312. |8.5         |70   |US    |2            |Third Column|
|Chevy C20                |10.0  |8        |307.0       |200.0     |4376. |15.0        |70   |US    |2            |Third Column|
|AMC Ambassador DPL       |15.0  |8        |390.0       |190.0     |3850. |8.5         |70   |US    |2            |Third Column|
|Dodge D200               |11.0  |8        |318.0       |210.0     |4382. |13.5        |70   |US    |2            |Third Column|
|Ford Torino (sw)         |0     |8        |351.0       |153.0     |4034. |11.0        |70   |US    |2            |Third Column|
|Hi 1200D                 |9.0   |8        |304.0       |193.0     |4732. |18.5        |70   |US    |2            |Third Column|
|AMC Rebel SST (sw)       |0     |8        |360.0       |175.0     |3850. |11.0        |70   |US    |2            |Third Column|
|Chevrolet Impala         |14.0  |8        |350.0       |165.0     |4209. |12.0        |71   |US    |2            |Third Column|
|Dodge Challenger SE      |15.0  |8        |383.0       |170.0     |3563. |10.0        |70   |US    |2            |Third Column|
|Pontiac Catalina Brougham|14.0  |8        |400.0       |175.0     |4464. |11.5        |71   |US    |2            |Third Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 20 rows

In [11]:
df.groupBy('Origin').count().orderBy('count', ascending=False).show()

+------+-----+
|Origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
|   CAT|    1|
+------+-----+

## Filtrado de datos

In [12]:
df

DataFrame[Car: string, MPG: string, Cylinders: string, Displacement: string, Horsepower: string, Weight: string, Acceleration: string, Model: string, Origin: string, Second_Column: int, Third_Column: string]

In [15]:
total_count = df.count()
print(f"el total de registros es de {total_count}") # total de registros

el total de registros es de 407

In [16]:
europa = df.filter(df.Origin == 'Europe')
europa.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Citroen DS-21 Pallas|   0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|            2|Third Column|
|Volkswagen 1131 D...|26.0|        4|       97.00|     46.00| 1835.|        20.5|   70|Europe|            2|Third Column|
|         Peugeot 504|25.0|        4|       110.0|     87.00| 2672.|        17.5|   70|Europe|            2|Third Column|
|         Audi 100 LS|24.0|        4|       107.0|     90.00| 2430.|        14.5|   70|Europe|            2|Third Column|
|            Saab 99e|25.0|        4|       104.0|     95.00| 2375.|        17.5|   70|Europe|            2|Third Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 5 rows

In [23]:
europa = df.filter(col("Origin")=="Europe").count()
print(f"El total de registros de europa es de {europa}")

El total de registros de europa es de 73

In [22]:
# registros solo de Europa
df.filter(df.Origin == 'Europe').show(truncate=False)

+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Citroen DS-21 Pallas        |0   |4        |133.0       |115.0     |3090. |17.5        |70   |Europe|2            |Third Column|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.00       |46.00     |1835. |20.5        |70   |Europe|2            |Third Column|
|Peugeot 504                 |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|2            |Third Column|
|Audi 100 LS                 |24.0|4        |107.0       |90.00     |2430. |14.5        |70   |Europe|2            |Third Column|
|Saab 99e                    |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|2            |Third Column|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234. |12.5        |70   |Europe|2            |Third Column|
|Volkswagen Super Beetle 117 |0   |4        |97.00       |48.00     |1978. |20.0        |71   |Europe|2            |Third Column|
|Opel 1900                   |28.0|4        |116.0       |90.00     |2123. |14.0        |71   |Europe|2            |Third Column|
|Peugeot 304                 |30.0|4        |79.00       |70.00     |2074. |19.5        |71   |Europe|2            |Third Column|
|Fiat 124B                   |30.0|4        |88.00       |76.00     |2065. |14.5        |71   |Europe|2            |Third Column|
|Volkswagen Model 111        |27.0|4        |97.00       |60.00     |1834. |19.0        |71   |Europe|2            |Third Column|
|Volkswagen Type 3           |23.0|4        |97.00       |54.00     |2254. |23.5        |72   |Europe|2            |Third Column|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933. |14.5        |72   |Europe|2            |Third Column|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.00     |2511. |18.0        |72   |Europe|2            |Third Column|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.00     |2979. |19.5        |72   |Europe|2            |Third Column|
|Renault 12 (sw)             |26.0|4        |96.00       |69.00     |2189. |18.0        |72   |Europe|2            |Third Column|
|Volkswagen Super Beetle     |26.0|4        |97.00       |46.00     |1950. |21.0        |73   |Europe|2            |Third Column|
|Fiat 124 Sport Coupe        |26.0|4        |98.00       |90.00     |2265. |15.5        |73   |Europe|2            |Third Column|
|Fiat 128                    |29.0|4        |68.00       |49.00     |1867. |19.5        |73   |Europe|2            |Third Column|
|Opel Manta                  |24.0|4        |116.0       |75.00     |2158. |15.5        |73   |Europe|2            |Third Column|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 20 rows

In [30]:
total_count = df.count()
usa = df.filter((col("Origin")=="US")&(col("Horsepower")=="170.0")).count()
print(f"el total de registros de usa con 170 caballos es de {usa}") # total de registros
df.filter((col("Origin")=="US")&(col("Horsepower")=="170.0")).show(truncate=False)

el total de registros de usa con 170 caballos es de 5
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Dodge Challenger SE         |15.0|8        |383.0       |170.0     |3563. |10.0        |70   |US    |2            |Third Column|
|Ford Country Squire (sw)    |13.0|8        |400.0       |170.0     |4746. |12.0        |71   |US    |2            |Third Column|
|Plymouth Custom Suburb      |13.0|8        |360.0       |170.0     |4654. |13.0        |73   |US    |2            |Third Column|
|Pontiac Catalina            |16.0|8        |400.0       |170.0     |4668. |11.5        |75   |US    |2            |Third Column|
|Chevrolet Monte Carlo Landau|15.5|8        |350.0       |170.0     |4165. |11.4        |77   |US    |2            |Third Column|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+------------+